.base-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  

  label {
    font-size: 20px;
    color: black;
  }
  ​
  input {
    min-width: 18em;
    height: 37px;
    font-family: "Open Sans", sans-serif;
  }
  ​

  .form-control{
    display: inline;
  }
  .btn-info{
    width: 100%;
    font-size: 20px;
  }

  .jumbotron{
    background-color:whitesmoke;
  }

  .btn-info{
    background-color: rgba(3, 118, 126, 0.671);
    border-color: rgba(3, 118, 126, 0.671);
  }
  .Forma{
    border-radius: 5px; 
    border: 1px solid rgba(14, 139, 148, 0.116);
    box-shadow: 0 3px 8px 0 rgba(14, 139, 148, 0.116); 
    padding: 10px;
  }
  

  #headerbg {
    background-size: cover;
    background-attachment: fixed;
    background-image: url('./images/signin.png');
    color: white;;
  }

  #headerbg h1 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 60px;
  }
 
  .wrapped-page {
    width: 100%;
    height: 100vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background: rgba(0, 0, 0, 0.212);
  }

  .item-center {
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .cover-page {
    height: 100vh;

  }